<style>
#foto{
  width: 300px;
  margin-top: 20px;
  margin-left: 100px;
  padding-left: 20px;
}
ul{
  margin: 0;
  padding: 0;
}
#seccion{
  width: 80%;
  color: white;
  font-family:   courier, Helvetica;
  padding-left: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
}
.contacto{
  width: 90%;
  color: white;
  font-family:   courier, Helvetica;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: -100px;
  margin-bottom: 50px;
}
#educacion{
  width: 80%;
  color: white;
  font-family:   courier, Helvetica;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: -100px;
  margin-left: 45px;
}
.seccion h2 {
  padding-bottom: 50px;
}
#title{
  margin-left: 50px;
  width: 50%;
  font-family: courier, Helvetica;
  color:white;
  text-align: center;
  text-decoration-color: #000000;
  padding-bottom: -10px;
}
#wrap {
  width: 100%;
}
#menu{
  margin-top: 20px; 
  height: 50px;
  width: 30%;
  margin-bottom: 150px;
  margin-left: 35%;
}
#menu li{
  height: 20px;
  background: #9B2828;
  border: 0;
  margin: 5% -5px;
  padding: 10px 0px;
  color:#ffffff;
}
#menu a:hover{
  background-color:grey;
}
#menu li:hover{
  background-color:grey;
}
#intro{
  width: 80%;
  text-align: left;
  color: white;
  font-family:   courier, Helvetica;
  padding-left: 10px;
  padding-right: -100px;
  margin-bottom: 20px;
  margin-top: -10px;
}
#intro h1{
  color: #000;
}
#clear {
    clear: both;
}
#branding{
  font-family:   courier, Helvetica;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: -22px;
  margin-left: -12px;
  margin-right: -20px;
  padding-left: 20px;
  background-color:#9B2828;
  width: 100%;
  top: 0;
  left: 0;
  height: 5%;
  border-bottom: 3px;
  border-color: #CC0000;
  border-left: 0px;
  border-style: solid;
}
.button_1{
height: 38px;
background: #9B2828;
border: 0;
padding: 0px 20px;
color:#ffffff;
}
#branding h5{
  margin-top: 0;
  padding-top: 0;
}
#newsletter{
   padding: 15px;
   color:#ffffff;
 }
#newsletter form{
  color: white;
  font-family:   courier, Helvetica;
  float: right;
  margin-top: 15px;
}
#newsletter input[type=email]{
  margin-top: 20px;
  margin-bottom: 20px;
 padding: 4px;
 height: 25px;
 width: 50%;
}
#recomendaciones{
  color: black;
  width: 90%;
  font-family:   courier, Helvetica;
  text-decoration: underline;
  border-style: groove;
  border-color: #000;
  border-left: 10px solid #ccc;
  text-align: center;
  background-color: #9B2828;
  border-top-color: #CC0000;
  border-bottom-color: #CC0000;
  border-right-color: #CC0000;
  margin-left: 5%;
}
.portfolio{
  width: 100%;
  color: white;
  font-family:   courier, Helvetica;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer{
  color: black;
  font-size-adjust: auto;
  font-family:   courier, Helvetica;
  background-color: #9B2828;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 9%;
  padding-left: -35px;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media only screen and (min-width: 768px){

  #foto{
    min-width: 200px;
    margin-top: 50px;
    margin-left: 30%;
  }

  #intro{
    width: 90%;
    text-align: left;
    color: white;
    font-family:   courier, Helvetica;
    padding-left: 50px;
    padding-right: -100px;
    margin-bottom: 20px;
  margin-top: -10px;
  }
  #menu{
    margin-top: 20px; 
    height: 50px;
    width: 15%;
    margin-bottom: 150px;
    margin-left: 40%;
  }
  #menu li{
    height: 20px;
    background: #9B2828;
    border: 0;
    margin: 5% -5px;
    padding: 10px 0px;
    color:#ffffff;
  }
  #menu a:hover{
    background-color:grey;
  }
  #menu li:hover{
    background-color:grey;
  }
  #recomendaciones{
    color: black;
    width: 80%;
    font-family:   courier, Helvetica;
    text-decoration: underline;
    border-style: groove;
    border-color: #000;
    border-left: 10px solid #ccc;
    margin-top: 20px;
    margin-left: 10%;
    text-align: center;
    background-color: #9B2828;
    border-top-color: #CC0000;
    border-bottom-color: #CC0000;
    border-right-color: #CC0000;
  }
  .educacion{
    width: 50%;
    color: white;
    font-family:   courier, Helvetica;

    padding-top: 90px;
    padding-left: 50px;
    padding-right: -100px;
  }
  .seccion{
    width: 80%;
    color: white;
    font-family:   courier, Helvetica;
    padding-left: 50px;
    padding-right: -150px;
    padding-top: 10px;
  }
  .seccion h2 {
    padding-bottom: 20px;
  }
  #newsletter{
     padding: 15px;
     color:#ffffff;
   }
  #newsletter h1{
   float: left;
  }
  #newsletter form{
    width: 75%;
    color: white;
    font-family:   courier, Helvetica;
    text-align: center;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: -100px;
   float: left;
  }
  #newsletter input[type=email]{
    margin-left: 50px;
  margin-top: 50px;
   padding: 4px;
   height: 25px;
   width: 50%;
  }
  .portfolio{
    width: 100%;
    color: white;
    font-family:   courier, Helvetica;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 150px;
    margin-top: 80px;
    margin-bottom: 10px;
  }
  .footer{
    display: none;
  }
  .footer1{
    color: black;
    font-size-adjust: auto;
    font-family:   courier, Helvetica;
    background-color: #9B2828;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 9%;
    padding-left: -35px;
  }
}

@media only screen and (min-width: 1000px){
  #branding{
    font-family:   courier, Helvetica;
    font-size: 30px;
    margin-top: -22px;
    margin-left: -12px;
    margin-right: -20px;
    padding-left: 20px;
    background-color:#9B2828;
    width: 100%;
    top: 0;
    left: 0;
    height: 5%;
    border-bottom: 3px;
    border-color: #CC0000;
    border-left: 0px;
    border-style: solid;
  }
  #foto{
    float: right;
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 50px;
  }
  #title{
    width: 50px;
    font-family: courier, Helvetica;
    color:white;
    text-align: center;
    text-decoration-color: #000000;
    padding-bottom: -10px;
    margin-top: 15%;
    margin-left: 50px;
  }
  #intro{
    margin-top: 50px;
    width: 800px;
    text-align: left;
    color: white;
    font-family:   courier, Helvetica;
    font-size: 20px;
  }
  #menu{
    margin-top: 20px; 
    height: 50px;
    width: 15%;
    margin-bottom: 150px;
    margin-left: 80%;
  }
  #menu li{
    height: 20px;
    background: #9B2828;
    border: 0;
    margin: 5% -5px;
    padding: 10px 0px;
    color:#ffffff;
  }
  #recomendaciones{
    color: black;
    width: 60%;
    font-family:   courier, Helvetica;
    font-size: 24px;
    text-decoration: underline;
    border-style: groove;
    border-color: #000;
    border-left: 10px solid #ccc;
    margin-top: 200px;
    margin-left: 20%;
    text-align: center;
    background-color: #9B2828;
    border-top-color: #CC0000;
    border-bottom-color: #CC0000;
    border-right-color: #CC0000;
  }
  #educacion{
    width: 20%;
    color: white;
    font-family:   courier, Helvetica;
    font-size: 20px;
    padding-top: 37px;
    padding-left: 50px;
  }
  #seccion{
    width: 25%;
    color: white;
    font-family: courier, Helvetica;
    font-size: 20px;
    padding-top: 75px;
    padding-left: 90px;
  }
  #newsletter{
     padding: 15px;
     color:#ffffff;
   }
  #newsletter h1{
   float: left;

  }
  #newsletter form{
    float: left;
    width: 30%;
    color: white;
    font-family:   courier, Helvetica;
    margin-left: -100px;
  }
  #newsletter input[type=email]{
    margin-left: 50px;
  margin-top: 50px;
   padding: 4px;
   height: 25px;
   width: 50%;
  }
  .portfolio{
    float: right;
    width: 30%;
    color: white;
    font-family:   courier, Helvetica;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 0px;
    margin-top: 280px;
    margin-bottom: 10px;
  }
  .contacto{
    width: 50%;
    color: white;
    font-family:   courier, Helvetica;
    margin-top: 400px;
    padding-left: 40px;
    margin-bottom: 100px;
  }
  .footer{
    color: black;
    font-size-adjust: auto;
    font-family:   courier, Helvetica;
    font-size: 20px;
    background-color: #9B2828;
    text-align: center;
    position: fixed;
    width: 80%;
    bottom: 0;
    left: 0;
    height: 9%;
    padding-left: -35px;
  }
}
@media only screen and (min-width: 1900px){
  #branding{
    font-family:   courier, Helvetica;
    font-size: 30px;
    margin-top: -22px;
    margin-left: -12px;
    margin-right: -20px;
    padding-left: 20px;
    background-color:#9B2828;
    width: 100%;
    top: 0;
    left: 0;
    height: 5%;
    border-bottom: 3px;
    border-color: #CC0000;
    border-left: 0px;
    border-style: solid;
  }
  #foto{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 25%;
    margin-bottom: 50px;
  }
  #title{
    width: 50px;
    font-family: courier, Helvetica;

    color:white;
    text-align: center;
    text-decoration-color: #000000;
    padding-bottom: -10px;
    margin-top: 10%;
    margin-left: 50px;
  }
  #intro{
    margin-top: 50px;
    width: 800px;
    text-align: left;
    color: white;
    font-family:   courier, Helvetica;
    font-size: 20px;

  }
  #menu{
    margin-top: 20px; 
    height: 50px;
    width: 15%;
    margin-bottom: 150px;
    margin-left: 80%;
  }
  #menu li{
    text-align: center;
    height: 20px;
    background: #9B2828;
    border: 0;
    margin: 5% -5px;
    padding: 10px 0px;
    color:#ffffff;
  }
  #recomendaciones{
    color: black;
    width: 60%;
    font-family:   courier, Helvetica;
    font-size: 24px;
    text-decoration: underline;
    border-style: groove;
    border-color: #000;
    border-left: 10px solid #ccc;
    margin-top: 200px;
    margin-left: 20%;
    text-align: center;
    background-color: #9B2828;
    border-top-color: #CC0000;
    border-bottom-color: #CC0000;
    border-right-color: #CC0000;
  }
  #educacion{
    width: 15%;
    color: white;
    font-family:   courier, Helvetica;
    font-size: 20px;

    padding-top: 50px;
    padding-left: 50px;
  }
  #seccion{
    width: 20%;
    color: white;
    font-family:   courier, Helvetica;
    font-size: 20px;
    padding-left: 1350px;
    padding-right: -100px;
    padding-top: 0px;
  }
  #newsletter{
     padding: 15px;
     color:#ffffff;
   }
  #newsletter h1{
   float: left;

  }
  #newsletter form{
    float: left;
    width: 30%;
    color: white;
    font-family:   courier, Helvetica;
    margin-left: -100px;
    margin-top: 0px;
  }
  #newsletter input[type=email]{
    margin-left: 50px;
  margin-top: 50px;
   padding: 4px;
   height: 25px;
   width: 50%;
  }
  .portfolio{
    float: right;
    width: 30%;
    color: white;
    font-family:   courier, Helvetica;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 300px;
  }
  .contacto{
    width: 50%;
    color: white;
    font-family:   courier, Helvetica;
    margin-top: 600px;
    padding-left: 40px;
    margin-bottom: 100px;
  }
  .footer{
    color: black;
    font-size-adjust: auto;
    font-family:   courier, Helvetica;
    font-size: 20px;

    background-color: #9B2828;
    text-align: center;
    position: fixed;
    width: 80%;
    bottom: 0;
    left: 0;
    height: 9%;
    padding-left: -35px;
  }
}
</style>